body {
    background-color: #26282E;
    font-family: Lobster, sans-serif;
    font-size: 28px;
    color: #209781;
    text-align: center;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#board {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#score {
    margin-top: 5px;
    letter-spacing: 2px;
    font-size: 28px;
}

h1 {
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 5px;
    margin: 20px 0 0 0;
}

header > p {
    letter-spacing: 2px;
    margin: 5px 0 25px 0;
}

#board > h1 {
    margin-bottom: 40px;
}

footer > p {
    font-size: 20px;
}

a {
    color: #209781;
    text-decoration: none;
}

a:hover {
    color: #e9b64a;
}

.gold {
    color: #e9b64a;
}

.card, .cardA {
    width: 125px;
    height: 125px;
    border: 4px solid #51c8b2;
    border-radius: 4px;
    filter: brightness(70%);
    display: inline-block;
    margin: 6px;
    background-image: url("../img/karta.png");
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.cardA {
    filter: brightness(100%);
    border-color: #e9b64a;
    cursor: default;
}

.card:hover {
    border-color: #e9b64a;
    filter: brightness(100%);
}

.match {
    border-color: green;
}

.miss {
    border-color: red;
}

#button {
    display: block;
    padding: 10px;
    border: 4px solid #51c8b2;
    background-color: #000;
    filter: brightness(70%);
    margin: 10px 0 40px 0;
    width: 24%;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    transition: all .3s ease-in-out;
}

#button:hover {
    border-color: #e9b64a;
    color: #e9b64a;
    background-color: #000;
    filter: brightness(100%);
    cursor: pointer;
}
